#header{
    text-align: center;
    font-size: 20px;
    margin-top: -20px;
    margin-bottom: -20px;
}
#h11{
    font-family:' Brush Script M, cursive';
}
#nav{
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}